@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 </div>

<form method="post" action="~/Home/Login">
    <label>Login:</label><br />
    <input type="text" name="login" /><br />
    <label>Password:</label><br />
    <input type="text" name="password" /><br />
    <input type="submit" value="Îňďđŕâčňü" />
</form>

