@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 </div>

<form method="post" action="~/Home/Privacy">
    <label>IP adress:</label><br />
    <input type="text" name="height" /><br />
    <label>Номер терминала:</label><br />
    <input type="text" name="altitude" /><br />
    <input type="submit" value="Отправить" />
</form>